<div class="container">
  <h1>Cohort Show Page</h1>

  <div class="cohort-show">
    <p><%= link_to "Popsicle", cohort_popsicle_index_path(params[:id]) %></p>
    <p><%= link_to "Pairs" %></p>
    <p><%= link_to "New Project", new_cohort_project_path(params[:id]) %></p>
    <p><%= link_to "Projects", cohort_projects_path(params[:id]) %></p>
  </div>

</div>
