<div class="container">
  <h1> Popsicle Page</h1>

  <div class="popsicle">
  </div>
</div>

<script>
  var API = 'https://mashup-api.herokuapp.com';
  var studentsArray = [];

  $(document).ready(function(){

    var cohortId = window.location.pathname.split("/")[2];
    var getStudents = function() {
      return $.ajax({
        url: API + '/api/v1/students?id=' + cohortId,
        method: 'GET',
      }).done(function(data){
        studentsArray = [];
        for (var i = 0; i < data.length; i++) {
          studentsArray.push(data[i].name);
        }
        if (localStorage.students === undefined){
          localStorage.setItem("students", studentsArray);
          displayStudent();
        } else {
          displayStudent();
        }
      }).fail(function(error){
        console.error(error);
      });
    };

    getStudents();

    var displayStudent = function(){
      var array = localStorage.students.split(",");
      var name = array[Math.floor(Math.random()* array.length)];
      if (array.length > (array.length/4)){
          var x = ',' + name;
          localStorage.students = localStorage.students.replace(x, "");
          console.log("removed " + name);
          console.log(localStorage.students);
        } else {
          getStudents();
        }
      $('.popsicle').append('<p class="name">' + name + '</p>');
    }

  });
</script>
