<h1>Lunch Roulette Groups</h1>

<div class="lunch-groups">

</div>
<script>

var API = 'http://localhost:3000';
$(document).ready(function(){

  var getLunchGroups = function() {
    return $.ajax({
      url: API + '/api/v1/students/group?size=4',
      method: 'GET',
    }).done(function(data){
      for (var i = 0; i < data.length; i++) {
        if (data[i][1]  === null){
          $('.lunch-groups').append('<p>' + data[i][0].name + '</p>');
        } else if (data[i][2] === null) {
          $('.lunch-groups').append('<p>' + data[i][0].name +  data[i][1].name + '</p>');
        } else {
          $('.lunch-groups').append('<p>' + data[i][0].name +', ' + data[i][1].name +', ' + data[i][2].name +', ' + data[i][3].name + '</p>');
        }
      }
    }).fail(function(error){
      console.error(error);
    });
  };

  getLunchGroups();
});
</script>
